.productItem {
  width: 32%;
  margin-bottom: 2.5rem;
}
.productLink {
  display: block;
  padding: 1rem;
  /* margin: 0 1rem; */
  border: 1.5px solid transparent;
  border-radius: 2.5px;
  transition: border 0.1s linear;
}
.productLink:hover {
  border: 1.5px solid rgb(221, 223, 225);
}
.productCover {
  width: 100%;
  transition: transform 0.1s linear;
}
.productCover:hover {
  transform: scale(1.05);
}
.productInfo {
  padding: 10px 10px 0 0;
}
.productInfo > h3 {
  font-size: 1.1rem;
}
.productContent {
  color: rgb(181, 181, 181);
}
