@import "./reset.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
button {
  font-family: "Chosunilbo_myungjo";
}
body {
  font-family: "Chosunilbo_myungjo";
  font-weight: 600;
}
